@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: 255, 255, 255;
  --background-color: 0, 0, 0;
  overscroll-behavior: none;
}

html {
  scrollbar-gutter: stable;
  overscroll-behavior: none;
}

body {
  color: rgb(var(--text-color));
  background: rgb(var(--background-color));
  font-weight: 500;
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .text-pretty {
    text-wrap: pretty;
  }
}
/* 
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
} */
